*{margin: 0;padding: 0;}
body{font-size: 14px;font-family: "Microsoft YaHei";}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
img{cursor: pointer;}
#lightbox-mask{display: none;position: fixed;top: 0;left: 0;z-index:1000;width: 100%;height: 100%;background-color: #000;opacity: 0.5;filter:alpha(opacity=50);}
#lightbox-popwin{display: none;position: fixed;top: 0;left: 50%;z-index: 1001;width: 500px;height: 300px;border:5px solid #ffffff; border-radius: 5px;background:#ffffff url("../images/loading.gif") no-repeat center;}

.lightbox-picture{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.lightbox-picture .lightbox-img{
    display: block;
}
.lightbox-picture .lightbox-btn{
    position: absolute;
    top: 0;
    display: none;
    width: 40%;
    height: 100%;
    cursor: pointer;
}
.lightbox-picture .prev-btn{
    left: 0;
    background: url("../images/prev.png") no-repeat left center;
}
.lightbox-picture .next-btn{
    right: 0;
    background: url("../images/next.png") no-repeat right center;
}
.lightbox-caption{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
}
.lightbox-caption .lightbox-caption-ind{
    color: #999;
}
.lightbox-caption .lightbox-close-btn{
    position: absolute;
    top: 13px;
    right: 10px;
    width: 27px;
    height: 27px;
    cursor: pointer;
    background: url("../images/close.png") no-repeat center;
}